/tools/*/bin
/tools/*/obj
/tools/*/.vs
/obj/cx16
/.vs
/src/tests/TestCache/x64/Debug/*
/src/Tests/TestMemoryAllocation/Debug/*
Debug/
/debug
x64/Debug/*
AGI.CX16.*
*.user
*.pdb
*.filters
cx16TesterConfig.json