/tools/*/bin
/tools/*/obj
/tools/*/.vs
/obj/cx16
/.vs
/src/tests/TestCache/x64/Debug/*
/src/Tests/TestMemoryAllocation/Debug/*
Debug/
/debug
x64/Debug/*
AGI.CX16.*
*.user
*.pdb
*.filters
cx16TesterConfig.json
/tools/New folder/DivisionTableCreater/.vs/DivisionTableCreater
/tools/New folder/DivisionTableCreater/.vs/DivisionTableCreater/FileContentIndex/0b86f603-b1d5-4c0b-9126-8ef3ec73b39c.vsidx
/tools/New folder/DivisionTableCreater/.vs/DivisionTableCreater/FileContentIndex/ce648de7-7118-44aa-bfba-4d2c93caa6fb.vsidx
/tools/New folder/DivisionTableCreater/.vs/DivisionTableCreater/FileContentIndex/0b86f603-b1d5-4c0b-9126-8ef3ec73b39c.vsidx
/tools/New folder/DivisionTableCreater/.vs/DivisionTableCreater/FileContentIndex/ce648de7-7118-44aa-bfba-4d2c93caa6fb.vsidx
/tools/ToFixPointConverter/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/tools/ToFixPointConverter/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/tools/ToFixPointConverter/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/tools/ToFixPointConverter/ConsoleApp1/obj/project.assets.json
/tools/ToFixPointConverter/ConsoleApp1/obj/project.nuget.cache
/tools/CharacterRomPosCalc/CharacterRomPosCalc/obj
/mapfile.txt
/agi.cx16
/tools/Address Calc Pri/Address Calc Pri/obj/Address Calc Pri.csproj.nuget.dgspec.json
/tools/Address Calc Pri/Address Calc Pri/obj/Address Calc Pri.csproj.nuget.g.props
/tools/Address Calc Pri/Address Calc Pri/obj/Address Calc Pri.csproj.nuget.g.targets
/tools/Address Calc Pri/Address Calc Pri/obj/project.assets.json
/tools/Address Calc Pri/Address Calc Pri/obj/project.nuget.cache
/tools/PriPixelCalculator/PriPixelCalculator
